
body{
    font-family: 'Open Sans Condensed', sans-serif;
}
h1{
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-family: 'Oswald', sans-serif;
    color: white;
}
.entrainement {
    color: lightseagreen;
}
footer {
    background-color: black;
}
p{
    font-size: 1.5rem;
}
