
body{
    font-family: 'Open Sans Condensed', sans-serif;
}
h1{
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-family: 'Oswald', sans-serif;
    color: white;
}
footer {
    background-color: black;
}
